{% extends 'base.html.twig' %}

{% block header %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.date, 'Datum') }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        {% if form.date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.date) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.title, 'Nadpis') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {% if form.title.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.subtitle, 'text') }}
        {{ form_widget(form.subtitle, {'attr': {'class': 'form-control'}}) }}
        {% if form.subtitle.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.subtitle) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.link, 'link') }}
        {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
        {% if form.link.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.link) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label id="croppie-btn" class="c-croppie__button c-croppie__button--v2" for="box_form_img">Nahrát obrázek</label>
        {{ form_widget(form.img, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

     <div id="modal" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie"></div>
            <div id="croppie-upload" class="c-croppie__button c-croppie__button--main">Nahrát obrázek</div>
        </div>
    </div>
    <div id="upload-preview" class="c-croppie__preview"></div>
    
    <button type="submit" class="btn btn-default cms-submit">Potvrdit</button>

    {{ form_widget(form.image) }}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    
    <script>var imageType = '{{ imageType }}';</script>
{% endblock %}
