{% extends 'base.html.twig' %}

{% block header %}
    {% if type == 'article' %}
        Článek
    {% else %}
        {{ type|capitalizeLowercase }}
    {% endif %}        
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title, 'Nadpis') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {% if form.title.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.text, 'Text') }}
            <textarea id="summernote" class="form-control" name="{{ form.text.vars.full_name }}">
                {{ form.text.vars.value }}
            </textarea>
        {% if form.text.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.text) }}
            </div>
        {% endif %}
    </div>

    {% if form.rating is defined %}
        <div class="form-group">
            {{ form_label(form.rating, 'Hodnocení') }}
            {{ form_widget(form.rating, {'attr': {'class': 'form-control input-small'}}) }}
            {% if form.rating.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form.rating) }}
                </div>
            {% endif %}
        </div>        
    {% endif %}

    <div class="form-group">
        {{ form_label(form.image_main, 'Náhled na titulce', {'label_attr': {'class': 'c-croppie__button btn', 'id': 'croppie-btn-main'}}) }}
        {{ form_widget(form.image_main, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

     <div id="modal-main" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie-main"></div>
            <div id="croppie-upload-main" class="c-croppie__button btn">Nahrát obrázek</div>
        </div>
    </div>
    {% if type is defined and type == 'novinka' %}
        <div id="upload-main-preview" class="c-croppie__preview c-croppie__preview--main-news"></div>
    {% else %}
        <div id="upload-main-preview" class="c-croppie__preview c-croppie__preview--main"></div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.image_search, 'Náhled ve vyhledávání', {'label_attr': {'class': 'c-croppie__button btn', 'id': 'croppie-btn-search'}}) }}
        {{ form_widget(form.image_search, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

    <div id="modal-search" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie-search"></div>
            <div id="croppie-upload-search" class="c-croppie__button btn">Nahrát obrázek</div>
        </div>
    </div>
    <div id="upload-search-preview" class="c-croppie__preview c-croppie__preview--search"></div>

    <div class="form-group">
        {{ form_label(form.image_detail, 'Hlavní obrázek v detailu příspěvku', {'label_attr': {'class': 'c-croppie__button btn', 'id': 'croppie-btn-detail'}}) }}
        {{ form_widget(form.image_detail, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

    <div id="modal-detail" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie-detail"></div>
            <div id="croppie-upload-detail" class="c-croppie__button btn">Nahrát obrázek</div>
        </div>
    </div>
    <div id="upload-detail-preview" class="c-croppie__preview c-croppie__preview--detail"></div>

    <div class="form-group">
        {{ form_label(form.venue, 'Klub') }}
        {{ form_widget(form.venue, {'attr': {'class': 'form-control input-small'}}) }}
        {% if form.venue.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.venue) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.date, 'Datum akce') }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control input-small'}}) }}
        {% if form.date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.date) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.time, 'Čas (doors)') }}
        {{ form_widget(form.time, {'attr': {'class': 'form-control input-small'}}) }}
        {% if form.time.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.time) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.event_type, 'Koncert/Festival') }}
        {{ form_widget(form.event_type, {'attr': {'class': 'form-control input-small'}}) }}
        {% if form.event_type.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.event_type) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label>Vícedenní akce</label>
        <input type="checkbox" id="multiDayEvent">

        <div class="input-hidden">
            {{ form_label(form.event_end, 'Konec akce') }}
            {{ form_widget(form.event_end, {'attr': {'class': 'form-control input-small'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.tags, 'Tagy') }}
        {{ form_widget(form.tags, {'attr': {'class': 'form-control input-small'}}) }}
        {% if form.tags.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.tags) }}
            </div>
        {% endif %}
    </div>

    {{ form_widget(form.image, {'attr': {'id': 'image-main'}}) }}
    {{ form_widget(form.image_reference, {'attr': {'id': 'image-search'}}) }}
    {{ form_widget(form.img_main, {'attr': {'id': 'image-detail'}}) }}

    <button type="submit" class="btn btn-default cms-submit">Potvrdit</button>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    {% if type is defined and type == 'novinka' %}
        <script>var type = 'novinka';</script>
    {% endif %}
    
{% endblock %}
