{% extends 'base.html.twig' %}

{% block header %}
    {{ title|capitalizeLowercase }}        
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title, 'Nadpis') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {% if form.title.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.venue, 'Klub / Lokace') }}
        {{ form_widget(form.venue, {'attr': {'class': 'form-control'}}) }}
        {% if form.venue.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.venue) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.event_date, 'Datum akce') }}
        {{ form_widget(form.event_date, {'attr': {'class': 'form-control'}}) }}
        {% if form.event_date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.event_date) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.author_name, 'Jméno autora') }}
        {{ form_widget(form.author_name, {'attr': {'class': 'form-control'}}) }}
        {% if form.event_date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.author_name) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Popisek') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form.event_date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.description) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.publish_date, 'Datum publikace') }}
        {{ form_widget(form.publish_date, {'attr': {'class': 'form-control'}}) }}
        {% if form.event_date.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.publish_date) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label id="croppie-btn" class="c-croppie__button c-croppie__button--v2" for="gallery_form_img">Nahrát obrázek na titulku</label>
        {{ form_widget(form.img, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

     <div id="modal" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie"></div>
            <div id="croppie-upload" class="c-croppie__button c-croppie__button--main">Nahrát obrázek</div>
        </div>
    </div>
    <div id="upload-preview" class="c-croppie__preview"></div>

    <div class="form-group">
        {{ form_label(form.images, 'Nahrát obrázky', {'label_attr': {'class': 'c-croppie__button btn'}}) }}
        {{ form_widget(form.images, {'attr': {'class': 'form-control hidden', 'multiple': 'multiple'}}) }}
        {% if form.images.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.images) }}
            </div>
        {% endif %}
    </div>


    <div class="form-group">
        {{ form_label(form.tags, 'Tagy') }}
        {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
        {% if form.tags.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.tags) }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-default cms-submit">Potvrdit</button>

    {{ form_widget(form.image) }}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}    

    <script>var imageType = '{{ title }}';</script>
{% endblock %}
