{% extends 'base.html.twig' %}

{% block header %}
        {{ title }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.url, 'URL Článku') }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
        {% if form.url.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form.url) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label id="croppie-btn" class="c-croppie__button c-croppie__button--v2" for="intro_form_img">Nahrát obrázek</label>
        {{ form_widget(form.img, {'attr': {'class': 'c-croppie__input'}}) }}
    </div>

     <div id="modal" class="c-croppie__modal">
        <div class="c-croppie__modal-container">
            <div id="croppie"></div>
            <div id="croppie-upload" class="c-croppie__button c-croppie__button--main">Nahrát obrázek</div>
        </div>
    </div>
    <div id="upload-preview" class="c-croppie__preview"></div>
    
    {{ form_widget(form.image) }}
    {{ form_errors(form.image) }}
    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-default cms-submit">Potvrdit</button>
    {{ form_end(form, {'render_rest': false}) }}

    <script>var imageType = '{{ imageType }}';</script>    
{% endblock %}
