<link rel="stylesheet" type="text/css"  href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css"  href="{{ asset('css/bootstrap/bootstrap.template.css') }}">
<link rel="stylesheet" type="text/css"  href="{{ asset('css/main.css') }}">

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="c-detail-form">
    <div class="c-detail-form__image"></div>
    <div class="c-detail-form__container">
        <h3 class="c-detail-form__title">Přihlášení</h3>
        <div class="c-detail-form__input-group">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="c-detail-form__input" autocomplete="email" placeholder="Login" required>
        </div>
        <div class="c-detail-form__input-group">
            <input type="password" name="password" id="inputPassword" class="c-detail-form__input" autocomplete="current-password" placeholder="Heslo" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input id="detailFormSubmit" class="c-detail-form__button" type="submit" value="Potvrdit">
    </div>
</div>

</form>
{% endblock %}
