{% extends 'base.html.twig' %}

{% block header %}Posledních 10 příspěvků na Marastu{% endblock %}

{% block body %}

{% for item in lastEntries %}
    <div class="cms-link-block"><a href="https://{{ domain }}/{{ item.url_path }}">https://{{ domain }}/{{ item.url_path }}</a></div><br>
{% endfor %}

{% endblock %}
