.grid-container {
    display: grid;
    grid-template-columns: 16fr 2fr 2fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 700;

    &--header {
        box-shadow: none;
        margin-bottom: 0;
        margin-top: 15px;
        text-decoration: underline;
    }

    form {
        font-weight: 400;
    }
}

td:hover {
    background: #f0f0f0;
}

td a {
    font-weight: 700;
}

.active {
    background:#000;
    color:#fff;
}

.delete-link {
    cursor: not-allowed;
}

.delete-link:hover {
    color: #f00;
}

.cms-user {
    color: #9d9d9d;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    float: right;
}

.cms-logo {
    float: left;
    height: 42px;
    padding-top: 5px;
    padding-left: 17px;
}

.cms-submit {
    background:black;
    color:white;
    border:none;
    margin-bottom: 25px;
}
.cms-submit:hover {
    background-color: #00f;
    color: #fff;
}

.cms-slider {
    margin-bottom: 30px;
    display: none;
}

.cms-slider i {
    color: #444;
    font-size: 13px;
    cursor: auto;
}

.cms-sessionClear {
    float: right;
    margin-top: 11px;
    margin-right: 13px;
    background: #000;
    color: #9d9d9d;
    border: none;
    font-weight: 700;
    padding: 4px 7px;    
    border-radius: 9px;
}

.cms-sessionClear:hover {
    background: #f00;
    color: #000;
    text-decoration: none;
}

.event-title {
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}
.event-text {
    color: #fff;
    font-size: 16px;
}

.event-container {
    background: #222;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;
}

.link-bold {
    font-weight: 700;
}

.search-btn {
    border: 2px solid;
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 3px 6px;
}

.pagination {
    font-weight: 900;
    font-size: 20px;
}

.disabled {
    opacity: .7;
    pointer-events: none;
}

.cms-link-block {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 15px;
    box-shadow: rgba(0,0,0,.24) 0 3px 8px;
    font-weight: 700;
}

select,
option {
    cursor: pointer;
}
