@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.note-editor {
	max-width: 747px;
	font-size: 1.6rem;
	line-height: 1.8 !important;
	text-align: justify;
	font-family: "Work Sans",sans-serif !important;

	p {
		margin-bottom: 29px !important;		
	}

	.note-toolbar > div:nth-child(1),
	.note-toolbar > div:nth-child(2) > button:nth-child(3),
	.note-toolbar > div:nth-child(3),
	.note-toolbar > div:nth-child(4),
	.note-toolbar > div:nth-child(5),
	.note-toolbar > div:nth-child(8) > button:nth-child(3),
	.note-table,
	.note-para > div,
	.note-para > button:nth-child(2),
	.sn-checkbox-use-protocol {
		display: none;
	}
}

.note-editing-area #slider {
	width: 100%;
	height: 150px;
	background: #000;
	padding: 52px;
	text-align: center;
}

.note-editing-area #slider::after {
	content: "SLIDER";
	color: #fff;
	font-size: 30px;
	font-weight: 900;
}
