.c-detail-form {
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	display: flex;
	overflow: hidden;
	position: relative;
	margin: 20vh auto 0;
	width: 600px;

	&__image {
		background-size: cover;
		background-position: center;
		width: 70%;
		background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 1)), url('../images/login-logo.png');
	}

	&__container {
		background: #000;
		padding: 60px 50px;
		width: 70%;
	}

	&__title {
		font-size: 24px;
		color: #fff;
		font-weight: 400;
		margin-bottom: 36px;
	}

	&__input-group {
		margin-bottom: 33px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	&__input {
		padding: 5px 0;
		font-size: 1.6rem;
		color: #ccc;
		background: transparent;
		border: none;
		outline: none;
		resize: vertical;
		width: 100%;
	}

	&__input:placeholder {
		color: #ccc;
		opacity: 1;
	}

	&__button {
		border: 1px solid;
		padding: 6px 19px;
		color: #fff;
		background: none;
		margin-top: 20px;

		&--clicked,
		&--clicked:hover {
			background: url(../images/check.png);
			color: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			pointer-events: none;
		}
	}

	&__button:hover {
		background: #fff;
		color: #000;
		border-color: #fff;
		cursor: pointer;
	}
}