<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CMS{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">

        <link rel="stylesheet" type="text/css"  href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css"  href="{{ asset('css/bootstrap/bootstrap.template.css') }}">
        <link rel="stylesheet" type="text/css"  href="{{ asset('css/picker.css') }}">
        <link rel="stylesheet" type="text/css"  href="{{ asset('css/main.css') }}">
        
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
        <script src="https://kit.fontawesome.com/e744032045.js" crossorigin="anonymous"></script>

        <script src="{{ asset('js/summernote.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/picker.js') }}"></script>        
    </head>
    <body>            
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <a href="{{ path('app_logout') }}" class="cms-sessionClear">Odhlásit</a>
                <span class="cms-user">{{ app.user.email }}</span>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="cms-logo" src="{{ asset('images/cms-logo.png') }}"><a class="navbar-brand" href="https://www.marastmusic.com">MarastMusic.com</a>  
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {% include "menu.html.twig" %}
                </div>
            </nav>

            <div id="page-wrapper">                
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    {% block header %}{% endblock %}
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">                                
                                {% block body %}{% endblock %}                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <script src="{{ asset(introFlag is defined ? 'js/intro.js' : 'js/main.js') }}"></script>        
    </body>
</html>
