{% extends 'base.html.twig' %}
{% block body %}
    <div id="page-wrapper">        
    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    </div>
{% endblock %}