{% set routeAttribute = app.request.attributes.get('_route') %}
<ul class="nav navbar-nav side-nav">
    <li class="{{ routeAttribute == 'app_news' or routeAttribute == 'app_news_edit' or routeAttribute == 'app_news_update' ? 'active' }}" data-folder="novinky" data-type="novinka">
        <a href="javascript:;" data-toggle="collapse" data-target="#newsList"><i class="fa fa-fw fa-newspaper-o"></i> Novinky <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="newsList" class="collapse">
            <li>
                <a href="{{ path('app_news') }}"><i class="fa fa-fw fa-newspaper-o"></i> Přidat Novinku</a>
            </li>
            <li>
                <a href="{{ path('app_news_edit') }}"><i class="fa fa-fw fa-newspaper-o"></i> Seznam Novinek</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_review' or routeAttribute == 'app_reviews_edit' or routeAttribute == 'app_reviews_update' ? 'active' }}" data-folder="recenze" data-type="recenze">
        <a href="javascript:;" data-toggle="collapse" data-target="#reviewsList"><i class="fa fa-fw fa-dashboard"></i> Recenze <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="reviewsList" class="collapse">
            <li>
                <a href="{{ path('app_review') }}"><i class="fa fa-fw fa-dashboard"></i> Přidat Recenzi</a>
            </li>
            <li>
                <a href="{{ path('app_reviews_edit') }}"><i class="fa fa-fw fa-dashboard"></i> Seznam Recenzí</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_interview' or routeAttribute == 'app_interviews_edit' or routeAttribute == 'app_interviews_update' ? 'active' }}" data-folder="rozhovory" data-type="rozhovor">
        <a href="javascript:;" data-toggle="collapse" data-target="#interviewsList"><i class="fa fa-fw fa-comment"></i> Rozhovory <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="interviewsList" class="collapse">
            <li>
                <a href="{{ path('app_interview') }}"><i class="fa fa-fw fa-comment"></i> Přidat Rozhovor</a>
            </li>
            <li>
                <a href="{{ path('app_interviews_edit') }}"><i class="fa fa-fw fa-comment"></i> Seznam Rozhovorů</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_report' or routeAttribute == 'app_reports_edit' or routeAttribute == 'app_reports_update' ? 'active' }}" data-folder="reporty" data-type="report">
        <a href="javascript:;" data-toggle="collapse" data-target="#reportsList"><i class="fa fa-fw fa-table"></i> Reporty <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="reportsList" class="collapse">
            <li>
                <a href="{{ path('app_report') }}"><i class="fa fa-fw fa-table"></i> Přidat Report</a>
            </li>
            <li>
                <a href="{{ path('app_reports_edit') }}"><i class="fa fa-fw fa-table"></i> Seznam Reportů</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_event' or routeAttribute == 'app_events_edit' or routeAttribute == 'app_events_update' ? 'active' }}" data-folder="akce" data-type="akce">
        <a href="javascript:;" data-toggle="collapse" data-target="#eventsList"><i class="fa fa-fw fa-building"></i> Akce <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="eventsList" class="collapse">
            <li>
                <a href="{{ path('app_event') }}"><i class="fa fa-fw fa-building"></i> Přidat Akci</a>
            </li>
            <li>
                <a href="{{ path('app_events_edit') }}"><i class="fa fa-fw fa-building"></i> Akce edit</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_album' or routeAttribute == 'app_albums_edit' or routeAttribute == 'app_albums_update' ? 'active' }}" data-folder="clanky" data-type="album">
        <a href="javascript:;" data-toggle="collapse" data-target="#albumsList"><i class="fa fa-fw fa-compact-disc"></i> Alba měsíce <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="albumsList" class="collapse">
            <li>
                <a href="{{ path('app_album') }}"><i class="fa fa-fw fa-compact-disc"></i> Přidat Album měsíce</a>
            </li>
            <li>
                <a href="{{ path('app_albums_edit') }}"><i class="fa fa-fw fa-compact-disc"></i> Alba měsíce edit</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_others' or routeAttribute == 'app_others_edit' or routeAttribute == 'app_others_update' ? 'active' }}" data-folder="clanky" data-type="other">
        <a href="javascript:;" data-toggle="collapse" data-target="#articlesList"><i class="fa fa-fw fa-newspaper"></i> Ostatní <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="articlesList" class="collapse">
            <li>
                <a href="{{ path('app_others') }}"><i class="fa fa-fw fa-newspaper"></i> Přidat článek</a>
            </li>
            <li>
                <a href="{{ path('app_others_edit') }}"><i class="fa fa-fw fa-newspaper"></i> Ostatní edit</a>
            </li>
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_intro' ? 'active' }}" data-folder="intro" data-type="intro">
        <a href="javascript:;" data-toggle="collapse" data-target="#introList"><i class="fa fa-fw fa-cubes"></i> Poutač <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="introList" class="collapse">
            <li>
                <a href="/intro/1"><i class="fa fa-fw fa-cubes"></i> Poutač Hlavní</a>
            </li>
            <li>
                <a href="/intro/2"><i class="fa fa-fw fa-cubes"></i> Poutač napravo nahoře</a>
            </li>
            <li>
                <a href="/intro/3"><i class="fa fa-fw fa-cubes"></i> Poutač napravo dole</a>
            </li>            
        </ul>
    </li>
    <li class="{{ routeAttribute == 'app_box' ? 'active' }}">
        <a href="{{ path('app_box') }}"><i class="fa fa-cube"></i> Kostka pod bannerem</a>
    </li>
    <li>
        <a href="{{ path('app_gallery') }}"><i class="fa fa-fw fa-file-image-o"></i> Galerie</a>
    </li>
</ul>