{% extends 'base.html.twig' %}

{% block header %}
    {{ title|capitalizeLowercase }}
{% endblock %}

{% block body %}
    <div class="grid-container grid-container--header">
            <div class="grid-item">
                <form method="get" action="{{ path('app_news_edit') }}">
                    <input type="text" name="search" value="{{ search }}" placeholder="Najít..."><!--
                 --><button class="search-btn" type="submit"><i class="fa fa-fw fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="grid-item"><h5>Autor</h5></div>
            <div class="grid-item"><h5>Datum publikace</h5></div>
            <div class="grid-item"><h5></h5></div>
        </div>
    {% for item in pagination %}
        <div class="grid-container">
            <div class="grid-item"><a href='{{ path(updateRoute, {"id": item.id}) }}'>{{ item.title }}</a></div>
            <div class="grid-item">
                {% if item.author_name is defined %}
                    {{ item.author_name|extract_name }}
                {% endif %}
            </div>
            <div class="grid-item">
                {% if item.publish_date is defined %}
                    {{ item.publish_date|date('d.m.Y H:m') }}
                {% endif %}
            </div>
            <div class="grid-item text-right">
                <a class="delete-link" data-delete-url="{{ path('app_delete_item', {"id": item.id, "type": type, "route": editRoute}) }}"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
            </div>
        </div>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}    
{% endblock %}